* { box-sizing: border-box; }

body {
  font-family: sans-serif;
}


img {width: 100%;}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 25%;

}

.element-item > * {
  margin: 0;
  padding: 0;
}
