* {
    box-sizing: border-box;
}

body{
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;

    height: 100vh;
   
    /* -webkit-flex-direction: column; */
    /* -ms-flex-direction: column; */
    /* flex-direction: column; */
}

div{

    background-color: rgb(23, 166, 177);
    width: 300px;
    height: 300px;
    box-shadow: 10px 5px 20px 10px rgba(50, 50, 50, 0.50 );
    border-radius: 10px;

}

