body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background: #e04040;
}

h1 {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

ul {
  background: #e5dec4;
}

main {
  background: #4a9e7c;
}
