body {
	margin: 0;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
}

#main {
	background: black;
	color: white;
	font-size: 2em;
	height: 100vh;
}

input {
	width: 500px;
	margin-top: 10px;
}

/* correction possible en css pur:
main {
	background: purple;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  #popup {
	position: fixed;
	width: 580px;
	height: 300px;
	/* left: calc(50% - 290px);
	top: calc(50% - 150px); */

/* border-radius: 10px;
	border: 15px solid black;
	background: url("../img/leave.gif") center / 100% no-repeat;
	display: none;
  } */